<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <canvas id="myCanvas" width="800" height="600"></canvas>
        <script src="/socket.io/socket.io.js"></script> 
        <script>
            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');

            var b_img = new Image();

            var userImg1 = new Image();
            var userImg2 = new Image();
            var userImg3 = new Image();
            var userImg4 = new Image();

            b_img.src = 'pan.jpg';

            userImg1.src = 'dance/1.png';
            userImg2.src = 'dance/2.png';
            userImg3.src = 'dance/3.png';
            userImg4.src = 'dance/4.png';

            userImgList = [userImg1,userImg2,userImg3,userImg4];

            var userList = [];
            var userList_f = [];
            var userMe = 'asd';

            var Mstate = 'y';
            var userXMove = 0;
            var userYMove = 0;

            var background = {
                x : 0,
                y : 0,
                width : 800,
                height : 600,
                draw(){
                    ctx.drawImage(b_img,0,0);
                }
            }


            gameLoop();

            // 유저 생성 함수
            function createUser(id, x, y,Sn) {
                userList.push({ id, x, y, width: 100, height: 100, speed: 200, imgSn : Sn});
                console.log(userList.length);
                console.log('생성됨');
            }

            const socket = io();

            socket.emit("room",'asd');

            socket.on("guestList", (guestList,guest,userListt,userImgSn)=>{
                userMe = guest;
                //기존유저생성
                createUser(guest,50,50,userImgSn);
                console.log(userImgSn);
                for (let i = userListt.length - 1; i >= 0; i--){
                    createUser(userListt[i].id,userListt[i].x,userListt[i].y,userListt[i].imgSn);
                }
                //유저 백엔드로 보내기
                socket.emit("updateGuestListOne",userList);
            });


            //서버수신
            socket.on("updateGuestList", (List)=>{
                console.log('업데이트됩니다');
                userList = List;
                userList_f = List;
                console.log(userList);
            });


            //누군가 나갔을 때 서버수신
            socket.on("bye",(id) =>{
                for (let i = userList.length - 1; i >= 0; i--){
                    if(userList[i].id === id){
                        userList.splice(i,1);
                    }
                }
                socket.emit("updateGuestListOne",userList);
                console.log('누군가 나감');
                console.log(userList);
            });


            //키다운이벤트 플레이어 서버송신
            document.addEventListener('keydown',function(e){
                ctx.clearRect(0,0,canvas.width,canvas.height);
                if (e.code == 37 || e.key == "ArrowRight"){
                    Mstate = 'x';
                    userXMove = 200;
                    console.log(userList.length);
                } else if(e.key == 39 || e.key == "ArrowLeft") {
                    Mstate = 'x';
                    userXMove = -200;
                }
                else if(e.key == 38 || e.key == "ArrowUp") {
                    Mstate = 'y';
                    userYMove = -200;
                }
                else if(e.key == 40 || e.key == "ArrowDown") {
                    Mstate = 'y';
                    userYMove = 200;
                }
                for (let i = userList.length - 1; i >= 0; i--){
                        const user = userList[i];
                        console.log(userList.length);
                        console.log(user.id);
                        if(user.id === userMe){
                            if(Mstate == 'x'){
                                console.log('asdasdas');
                                console.log(user.id);
                                socket.emit("updateGuestList",user,userXMove,0);
                            }else{
                                socket.emit("updateGuestList",user,0,userYMove);
                            }
                        }
                    }
            })


            function gameLoop() {
                console.log('asdasd');
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                background.draw();
                for (let i = userList_f.length - 1; i >= 0; i--){
                    console.log(userList_f[i]);
                    const user = userList_f[i];
                    ctx.drawImage(userImgList[user.imgSn],user.x,user.y);
                }
                requestAnimationFrame(gameLoop);
            }

        </script>
    </body>
</html>