<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>마이페이지</title>
</head>
<body>
    {% include "header.html" %}
    <main id ='profile'>

    </main>
    <main id ='table-container'>
        <section class="purchase-history">
            <h2>구매 목록</h2>
            <ul>
            </ul>
        </section>
    </main>
    <script>
        //내아이템조회
        fetch('/myPagePd') // '/query' 엔드포인트를 호출
        .then(response => response.json())
        .then(data => {
          document.getElementById('profile').innerHTML = data.profile;
          document.getElementById('table-container').innerHTML = data.pd;
        })
        .catch(error => {
          console.error('데이터 가져오기 오류:', error);
        });
    </script>
</body>
</html>