body {
    font-family: Arial, sans-serif;
    background-color:#f2ebe6;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(147, 44, 20);
    color: #fff;
    padding: 10px 0;
}

nav{
    display: flex;
}

nav .Nmain{
    margin-right: auto;
    display: flex;
    align-items: center;
}

nav .Nmain a{
    padding-right:30px;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.user-options {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.user-options a, .user-options button {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #e74c3c;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-options button {
    background-color: #e74c3c;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

p {
    color: #666;
}

.price {
    font-weight: bold;
    color: #e74c3c;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}