<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" href="/images/favicon.ico">
  <style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

    .login-container {
      display: flex;
    }

    .pad {
        margin: 15px; /* 여백을 늘립니다. */
    }

    table {
            border-collapse: collapse;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 15px; /* 여백을 늘립니다. */
            text-align: center;
        }

        th {
            background-color: #3498db;
            color: #fff;
            font-size: 20px;
        }

        td {
            font-size: 18px;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        .input-container {
  display: block;
  margin-bottom: 20px;
}

  .custom-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }

  .custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
</head>
<body>

  <body>
    <div class="input-container">
      <div class="input-container">
        <input type="text" class="custom-input" id="inputField" placeholder="여기에 입력하세요">
        <button class="custom-button" id="submitButton">전송</button>
        <button class="custom-button" id="allUserButton">모든 유저 자산정보 가져오기</button>
      </div>
      <div class="login-container">
        <div class="pad">
          <h2>아이템</h2>
          <div id="table-container" class="login-container">
              <!-- 백엔드에서 생성한 표가 여기에 삽입됩니다. -->
            </div>
          </div>
          <div class="pad">
          <h2>금액</h2>
          <div id="table-container2" class="login-container">
              <!-- 백엔드에서 생성한 표가 여기에 삽입됩니다. -->
          </div>
        </div>
      </div>
      <div class="input-container">
      </div>
      <div class="input-container">
        <button id="updateButton" class="custom-button">수정</button>
        <button id="addRowBtn" class="cuㅛstom-button">행 추가</button>
      </div>
      <div class="login-container">
        <div class="login-container">
          <table id="table-container3">
          </table>
          <!-- 백엔드에서 생성한 표가 여기에 삽입됩니다. -->
      </div>
      <div class="input-container">
        <button id="userListDown" class="custom-button">유저리스트다운로드</button>
        <button id="userMoneyDown" class="custom-button">유저자산정보다운로드</button>
        <button id="userAssetsDown" class="custom-button">유저에셋정보다운로드</button>
        <button id="assetsDown" class="custom-button">에셋정보다운로드</button>
      </div>
      <div class="input-container">
        <button id="gameLogDown" class="custom-button">게임로그 다운로드</button>
        <button id="lankDown" class="custom-button">랭킹정보다운로드</button>
      </div>
      </div>
    </div>
</body>
</body>

  <script>
    var updateList = [];

    document.getElementById('submitButton').addEventListener('click', function() {
      var inputValue = document.getElementById('inputField').value;
      if(inputValue == ''){
        alert('비었습니다');
        return
      }
      const jsonData = JSON.stringify({ inputValue });

      fetch('/selectManageGrid',{
        method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: jsonData
        }) // '/query' 엔드포인트를 호출
      .then(response => response.text())
      .then(data => {
        document.getElementById('table-container').innerHTML = data;
      })
      .catch(error => {
        console.error('데이터 가져오기 오류:', error);
      });

      fetch('/selectManageMoneyGrid',{
          method: 'POST',
          headers: {
          'Content-Type': 'application/json'
          },
          body: jsonData
      }) // '/query' 엔드포인트를 호출
      .then(response => response.text())
      .then(data => {
        document.getElementById('table-container2').innerHTML = data;
      })
      .catch(error => {
        console.error('데이터 가져오기 오류:', error);
      });
    });


    document.getElementById('allUserButton').addEventListener('click', function() {
      fetch('/selectAllUser',{
        method: 'POST'
      }) // '/query' 엔드포인트를 호출
      .then(response => response.text())
      .then(data => {
        document.getElementById('table-container3').innerHTML = data;
        gridEventListen();
      })
      .catch(error => {
        console.error('데이터 가져오기 오류:', error);
      });
    })

    function gridEventListen(){
      const grid = document.getElementById('table-container3');
      const addRowBtn = document.getElementById('addRowBtn');

      // 각 셀에 클릭 이벤트 리스너 추가
      grid.addEventListener('click', (event) => {
        const targetCell = event.target;
        if (targetCell.tagName === 'TD') {
          // 클릭한 셀의 위치 가져오기
          const clickedRow = targetCell.parentElement;

          // 클릭한 셀의 내용 가져오기
          const cellContent = targetCell.textContent;

          // 셀의 내용을 인풋 창으로 교체
          const input = document.createElement('input');
          input.type = 'text';
          input.value = cellContent;
          input.addEventListener('blur', () => {
            // 인풋 창이 포커스를 잃으면 입력된 값을 셀에 반영
            targetCell.textContent = input.value;
            console.log(clickedRow.cells[0].textContent);
            for(i=0;i<updateList.length;i++){
              if(updateList[i].id == clickedRow.cells[0].textContent){
                updateList.splice(i, 1);
                console.log('같은값입니다');
                break;
              }
            }
            updateList.push({id:clickedRow.cells[0].textContent,Money:clickedRow.cells[2].textContent});
          });
          
          // 클릭한 셀의 위치에 인풋 창 삽입
          targetCell.textContent = '';
          targetCell.appendChild(input);
          input.focus(); // 인풋 창에 포커스 설정
        }
      });
      // "행 추가" 버튼 클릭 이벤트 리스너 추가
      addRowBtn.addEventListener('click', () => {
        console.log('행추가');
        const newRow = grid.insertRow(); // 새로운 행 추가

        for (let i = 0; i < grid.rows[0].cells.length; i++) {
          const newCell = newRow.insertCell();
          const input = document.createElement('input');
          input.type = 'text';
          newCell.appendChild(input);
        }
      });
    }


    document.getElementById('updateButton').addEventListener('click', function() {
      
      
      const jsonData = JSON.stringify(updateList);

      if(updateList.length < 1){
        alert('비었습니다');
        return
      }

      fetch('/insertUser',{
        method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: jsonData
        }) // '/query' 엔드포인트를 호출
      .then(response => response.text())
      .then(data => {
        alert('성공적으로 저장되었습니다')
      })
      .catch(error => {
        console.error('데이터 가져오기 오류:', error);
      });
    })


/////////////////////////////////////////////////////////////////
    //정보 가져오기 버튼//
    document.getElementById('userListDown').addEventListener('click', async function() {
      const response = await fetch('/selectUserListDown', {
        method: 'GET',
      });
      if (response.ok) {
        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'userData.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      } else {
        console.error('Failed to download file:', response.statusText);
      }
    })

    document.getElementById('userMoneyDown').addEventListener('click', async function() {
      const response = await fetch('/selectUserMoneyDown', {
        method: 'GET',
      });
      if (response.ok) {
        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'userMoneyData.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      } else {
        console.error('Failed to download file:', response.statusText);
      }
    })

    document.getElementById('userAssetsDown').addEventListener('click', async function() {
      const response = await fetch('/selectUserAssetsDown', {
        method: 'GET',
      });
      if (response.ok) {
        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'userAssetsData.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      } else {
        console.error('Failed to download file:', response.statusText);
      }
    })

    document.getElementById('assetsDown').addEventListener('click', async function() {
      const response = await fetch('/selectAssetsDown', {
        method: 'GET',
      });
      if (response.ok) {
        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'assetsData.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      } else {
        console.error('Failed to download file:', response.statusText);
      }
    })

    document.getElementById('gameLogDown').addEventListener('click', async function() {
      const response = await fetch('/selectGameLogDown', {
        method: 'GET',
      });
      if (response.ok) {
        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'gameLogData.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      } else {
        console.error('Failed to download file:', response.statusText);
      }
    })

    document.getElementById('lankDown').addEventListener('click', async function() {
      const response = await fetch('/selectLankDown', {
        method: 'GET',
      });
      if (response.ok) {
        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'lankDown.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      } else {
        console.error('Failed to download file:', response.statusText);
      }
    })
  </script>
</html>